# سیستم‌عامل‌ها
######################
# فایل‌ها و پوشه‌های سیستم macOS
.DS_Store
# فایل‌های Thumbs.db مربوط به ویندوز
Thumbs.db
# فایل‌های مربوط به سیستم لینوکس
*.~


# محیط‌های مجازی (virtual environments)
######################
# پوشه venv و هر محیط مجازی دیگر
venv/
ENV/
env/
.venv/
vertual/
# پایگاه داده‌های SQLite
######################
db.sqlite3
db.sqlite3-journal

# فایل‌های کامپایل‌شده پایتون
######################
*.py[cod]
__pycache__/
*.so

# فایل‌های مربوط به مهاجرت‌ها
######################
migrations/
*/migrations/*

# فایل‌های لاگ و خروجی
######################
*.log
*.out
*.pid

# فایل‌های موقتی و ایجاد شده توسط IDE ها
######################
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# فایل‌های ذخیره‌شده از تست‌های پوشه‌های media و static
######################
media/
staticfiles/

# پیکربندی‌های تولید و حساس
######################
*.env
.env.*
config/settings/local.py
config/settings/production.py

# فایل‌های مربوط به Node.js در صورت استفاده از JavaScript و npm
######################
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
